#Temporary files
*.asv
*~

#output
bin/*
doc/m2html/*
doc/doxygen/*
cloudOutput/*
output/*
individual_perturbations/*
individual_perturbations/averaged_output/*
individual_perturbations/output/*
analysis/compiled_data/*
tmp/*
